/* Estilos Generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1c2e4a;
    color: #e0e0e0;
}

/* Sección de eventos */
.events-section {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Evento Principal */
.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .event-container {
        flex-direction: row;
        justify-content: center;
    }
}

.event-info {
    max-width: 450px;
    text-align: left;
}

.event-info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.event-date,
.event-location {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e0e0e0;
}

/* Aumentar tamaño de los textos generales */
.event-description,
.event-summary {
    font-size: 1.2rem;
    color: white;
}

.event-topics {
    padding: 0;
    list-style: none;
}

.event-topics li {
    font-size: 1.2rem;
    margin-bottom: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 5px;
}

/* Imagen del evento (Flyer) */
.event-flyer {
    display: block;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.event-flyer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-flyer:hover {
    transform: scale(1.05);
}

/* Sección Coming Soon */
.coming-soon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.coming-soon-card {
    width: 250px;
    height: 350px; /* Aumentado para más espacio */
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #2a3b55;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    padding: 15px;
}

.coming-soon-card img {
    width: 90%; /* Reducción del ancho para margen */
    height: 80%; /* Aumentar imagen */
    object-fit: cover;
    border-radius: 8px;
}

.upcoming-text {
    font-size: 1.2rem; /* Aumentado para mejor lectura */
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%; /* Ajustado al ancho de la carta */
    margin-top: 5px;
}

.coming-soon-card:hover {
    background: #778da9;
    transform: scale(1.05);
}

/* Iconos en Fecha y Ubicación */
.event-date img,
.event-location img {
    width: 20px;
    vertical-align: middle;
}

.upcoming-events-title {
    font-size: 1.8rem;
    margin-top: 30px;
    color: white;
}
